apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrollarr-config-pvc
  labels:
    app: scrollarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrollarr-library-pvc
  labels:
    app: scrollarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrollarr-downloads-pvc
  labels:
    app: scrollarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
